[tool.poetry]
name = "QAT-compiler"
# This name has the -compiler suffix in order to use the poetry and twine tools to build and publish to PyPI
# witout having to manually adjust the dist file names.
version = "1.0.0"
description = "A low-level quantum compiler and runtime which facilitates executing quantum IRs."
readme = "README.rst"
authors = [
    "Hamid El Maazouz <helmaazouz@oxfordquantumcircuits.com>",
    "Harry Waring <hwaring@oxfordquantumcircuits.com>",
    "Jamie Friel <jfriel@oxfordquantumcircuits.com>",
    "John Dumbell <jdumbell@oxfordquantumcircuits.com>",
    "Kajsa Eriksson Rosenqvist <keriksson.rosenqvist@oxfordquantumcircuits.com>",
    "Norbert Deak <ndeak@oxfordquantumcircuits.com>",
    "Owen Arnold <oarnold@oxfordquantumcircuits.com>",
]
packages = [
    { include = "qat", from = "src/QAT/" }
]
license = "BSD-3-Clause"

[tool.poetry.dependencies]
# We're a 3.8 project, but certain dependencies require an upper bound.
python = ">=3.8.1,<3.11"
numpy = "~=1.22.3"
networkx = "~=2.5"
matplotlib = "~=3.3.2"
qiskit = "^0.34.0"
logging-config = "~=1.0.4"
qutip = { version = "~=4.6.3", markers = "sys_platform == 'win32' or sys_platform == 'linux'" }
toml = "^0.10.2"
pytket = "~=1.2.2"
qiskit-optimization = "~=0.3.1"
scipy = "^1.8.0"
pyqir = { version = "^0.8.0a1", allow-prereleases = true }
jinja2 = "3.0.3"
lark = "^1.1.2"
regex = "^2022.6.2"
jsonpickle = "^2.2.0"

[tool.poetry.group.dev.dependencies]
coverage = "^6.3.2"
pytest-cov = "~=2.10.1"
autoflake = "^2.2.0"
isort = "^5.10.1"
pre-commit = "^3.2.0"
yapf = "^0.32.0"
docplex = "^2.21.207"

[tool.poetry.group.licenses]
optional = true

[tool.poetry.group.licenses.dependencies]
pip-licenses = "^3.5.3"

[tool.poetry.group.release]
optional = true

[tool.poetry.group.release.dependencies]
twine = "^4.0.2"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^7.0.0"
sphinx-rtd-theme = { version = "^1.3.0rc1", allow-prereleases = true }
sphinx-autodoc-typehints = "^1.24.0"
sphinx-paramlinks = "^0.6.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.yapfignore]
ignore_patterns  = [
    "external/",
    "*/target/",
    "*.ipynb"
]

[tool.autoflake]
remove-all-unused-imports = true
ignore-init-module-imports = true
ignore-pass-after-docstring = true

[tool.isort]
py_version = 38
profile = "wemake"
line_length = 92

[[tool.poetry.source]]
name = "PyPI"
priority = "primary"
