[tool.poetry]
# This name has the -compiler suffix in order to use the poetry and twine tools to build and publish to PyPI
# witout having to manually adjust the dist file names.
name = "qat-compiler"
version = "1.0.0"
description = "A low-level quantum compiler and runtime which facilitates executing quantum IRs."
readme = "README.md"
documentation = "https://oqc-community.github.io/qat"
authors = [
    "Hamid El Maazouz <helmaazouz@oxfordquantumcircuits.com>",
    "Harry Waring <hwaring@oxfordquantumcircuits.com>",
    "Jamie Friel <jfriel@oxfordquantumcircuits.com>",
    "John Dumbell <jdumbell@oxfordquantumcircuits.com>",
    "Kajsa Eriksson Rosenqvist <keriksson.rosenqvist@oxfordquantumcircuits.com>",
    "Norbert Deak <ndeak@oxfordquantumcircuits.com>",
    "Owen Arnold <oarnold@oxfordquantumcircuits.com>",
]
packages = [
    { include = "qat", from = "src/QAT/" }
]
license = "BSD-3-Clause"

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
numpy = "~=1.22.3"
networkx = "~=2.5"
matplotlib = "^3.3.2"
logging-config = "~=1.0.4"
qutip = { version = "^4.7.6" }
toml = "^0.10.2"
pytket = "^1.11.1"
# Fixed due to issue with qutip
scipy = "1.10.1"
pyqir = "^0.10.0"
qiskit = "^0.45.0"
qiskit-optimization = "~=0.4.0"
qiskit-ignis = "~=0.7"
qiskit-aer = "^0.13.0"
lark = "~=0.12"
regex = "^2022.6.2"
jsonpickle = "^2.2.0"
rasqal = [
    # TODO: realign once 0.1.3 is fixed for windows.
    { version = "^0.1.3", markers = "sys_platform == 'darwin' or sys_platform == 'linux'"  },
    {version = "0.1.0", markers="sys_platform == 'win32'"}
]

[tool.poetry.group.dev.dependencies]
black = "24.2.0"
coverage = "^6.3.2"
pytest-cov = "~=2.10.1"
autoflake = "^2.2.0"
isort = "^5.13.2"
docplex = "^2.21.207"

[tool.poetry.group.licenses]
optional = true

[tool.poetry.group.licenses.dependencies]
pip-licenses = "^3.5.3"

[tool.poetry.group.release]
optional = true

[tool.poetry.group.release.dependencies]
twine = "^4.0.2"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
sphinx = "^7.0.0"
sphinx-rtd-theme = { version = "^1.3.0", allow-prereleases = true }
sphinx-autodoc-typehints = "^1.24.0"
sphinx-paramlinks = "^0.6.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.autoflake]
remove-all-unused-imports = true
ignore-init-module-imports = true
ignore-pass-after-docstring = true
in-place = true
recursive = true

[tool.isort]
py_version = 39
profile = "black"
line_length = 92
known_first_party = ["qat"]

[tool.black]
line-length = 92
target-version = ["py38", "py39", "py310"]

[tool.poetry.scripts]
build-docs = "poetry_scripts:build_docs"
format-code = "poetry_scripts:format_code"

[[tool.poetry.source]]
name = "PyPI"
priority = "primary"
